/* botão */
.button{
    display: flex;
    background-color: #474646;
    width: 150px;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.text_btn a {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.button:hover {
    background-color: #8d8c8c;
}